@model Example.Razor.Renderer.Templates.Models.ExampleModel;

<h1>A full example to provide data</h1>

<h2>This is a view example with the usage of different data:</h2>
<ul>
    <li>Model content: @Model.Example</li>
    <li>ViewBag data: @ViewBag.ExampleVB</li>
    <li>ViewData data: @ViewData["ExampleVD"]</li>
</ul>